<div class="w-full flex justify-center">
  <div class="mt-8">
    <div class="flex outside-outlet" data-controller="visibility">
      <div>
        <%= link_to '#', {class: 'group relative inline-block overflow-hidden rounded-lg border p-2',
            "data-action": "click->visibility#toggle"} do %>
          <span class="ease absolute left-0 top-0 h-0 w-0 border-t-2 border-red-600 transition-all duration-200 group-hover:w-full"></span>
          <span class="ease absolute right-0 top-0 h-0 w-0 border-r-2 border-red-600 transition-all duration-200 group-hover:h-full"></span>
          <span class="ease absolute bottom-0 right-0 h-0 w-0 border-b-2 border-red-600 transition-all duration-200 group-hover:w-full"></span>
          <span class="ease absolute bottom-0 left-0 h-0 w-0 border-l-2 border-red-600 transition-all duration-200 group-hover:h-full"></span>
          <%= image_tag 'rails.png', class: 'rounded-lg w-64' %>
        <% end %>
      </div>
      <div data-visibility-target="infodiv" class="hidden" id="nastyid">
        <script src="https://gist.github.com/bowdena/1ae30789d2ce5bffb8568f886672b47a.js"></script>
      </div>
    </div>
  </div>
</div>
<div class="w-full flex justify-center">
  <div class="mt-8">
    <div class="flex outside-outlet" data-controller="visibility">
      <div>
        <%= link_to '#', {class: 'group relative inline-block overflow-hidden rounded-lg border p-2',
            "data-action": "click->visibility#toggle"} do %>
          <span class="ease absolute left-0 top-0 h-0 w-0 border-t-2 border-red-600 transition-all duration-200 group-hover:w-full"></span>
          <span class="ease absolute right-0 top-0 h-0 w-0 border-r-2 border-red-600 transition-all duration-200 group-hover:h-full"></span>
          <span class="ease absolute bottom-0 right-0 h-0 w-0 border-b-2 border-red-600 transition-all duration-200 group-hover:w-full"></span>
          <span class="ease absolute bottom-0 left-0 h-0 w-0 border-l-2 border-red-600 transition-all duration-200 group-hover:h-full"></span>
          <%= image_tag 'rails.png', class: 'rounded-lg w-64' %>
        <% end %>
      </div>
      <div data-visibility-target="infodiv" class="hidden" id="nastyid">
        <script src="https://gist.github.com/bowdena/c94872dab3f12bb5f47db8742222badb.js"></script>
      </div>
    </div>
  </div>
</div>
<div class="w-full flex justify-center">
  <div class="mt-8 ">
    <div data-controller="visibility">
      <button type="button"  aria-hidden="true" data-action="click->visibility#nastytoggle" class="px-8 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300  rounded-full text-3xl p-2.5 text-center inline-flex items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        DOM query
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-white w-14 h-14" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
      </button>
    </div>
  </div>
</div>
<div class="w-full flex justify-center">
  <div class="mt-8">
    <div data-controller="outside" data-outside-visibility-outlet=".outside-outlet">
      <button type="button" data-action="click->outside#toggleAll" class="px-8 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-3xl p-2.5 text-center inline-flex items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Outlet&nbsp;&nbsp
        <svg class="w-14 h-14" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </button>
    </div>
  </div>
</div>